

/* BODY */



/* NAVBAR */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  letter-spacing: 5px;

}


/* HEADER */
#header {
  background-image: url(https://source.unsplash.com/random);
  background-size: cover ;
  padding: 200px 0;
}


/* FOOTER */
#footer {
  background-color: rgb(3, 3, 3);
  color: white;
  font-size: 20px;
  padding: 10px;
}

#footer a {
  color: lightgrey;
  font-size: 20px;
  
}

.card {
  padding:50px;
  text-align: center;
  size: 10px;
}