<%= provide(:title, 'Contact') %>

<header>
  <h1>Contact us</h1>
  <figure>
    <img src="" alt="World map" />
    <figcaption>A world map with pins in each of our countries</figcaption>
  </figure>
</header>



<main>

<div class="contact-form">
  <%= render 'layouts/contact_form' %>
  </div>
</main>


