<%= provide(:title, 'Contact') %>

<header>
  <h1>Contact</h1>
  <figure>
    <img src="" alt="World map" />
    <figcaption>A world map with pins in each of our countries</figcaption>
  </figure>
</header>



<main>


  <%= render 'layouts/contact_form' %>
</main>


