<%= provide(:title, 'Home') %>

<%= render 'layouts/web_for_all' %>
    <section id="about">
      <h2>About Team 54</h2>
      <p>In which we sell our team vision?Philosophy?How we work Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam laborum, sapiente fugiat a unde ipsam quae odio, provident molestias atque ducimus! Debitis quis modi earum accusamus repellendus voluptas amet?</p>
      <article>
        <h3>We are in this many countries/continents</h3>
        <figure>
          <img src="" alt="World map">
          <figcaption>A world map with pins in each of our countries</figcaption>
        </figure> 
      </article>
    </section>
    <section id="technologies">
      <h2 class="tech-header">Implemented Technologies</h2>
      <div class="tech-grid slide-in">
        <article class="tech">
          <h3>HTML5 & CSS3</h3>
          <p>Details about the technology above</p>
        </article>
        <article class="tech">
          <h3>React & Redux</h3>
          <p>Details about the technology above</p>
        </article>
        <article class="tech">
          <h3>Ruby on Rails</h3>
          <p>Details about the technology above</p>
        </article>
        <article class="tech">
          <h3>Javascript</h3>
          <p>Details about the technology above</p>
        </article>
        <article class="tech">
          <h3>Databases & APIS</h3>
          <p>Details about the technology above</p>
        </article>
        <article class="tech">
          <h3>Hosting & AWS</h3>
          <p>Details about the technology above</p>
        </article>
      </div>
      <div class="tech-grid slide-right">
        <article class="tech">
          <h3>Shopfy && Wordpress</h3>
          <p>Details about the technology above</p>
        </article>
        <article class="tech">
          <h3>Web Plugins</h3>
          <p>Details about the technology above</p>
        </article>
        <article class="tech">
          <h3>Django</h3>
          <p>Details about the technology above</p>
        </article>
      </div>
      <div class="slide-controller">
        <div class="controler controler-on">
        </div>
        <div class="controler">
        </div>
      </div>
    </section>
    <section id="services">
      <h2>Services we offer</h2>
      <article>
        <h3>Service 1</h3>
        <figure>
          <img src="" alt="service">
        </figure> 
        <p>About this service</p>
      </article>
      <article>
        <h3>Service 2</h3>
        <figure>
          <img src="" alt="service">
        </figure> 
        <p>About this service</p>
      </article>
      <article>
        <h3>Service 3</h3>
        <figure>
          <img src="" alt="service">
        </figure> 
        <p>About this service</p>
      </article>
    </section>
    <section id="pricing">
      <h2>Check out our Pricing</h2>
      <article>
        <h3>Option 1</h3>
        <p>Details on what that gets the client</p>
        <div>
          <p>$$$$$$$$</p>
        </div>
      </article>
      <article>
        <h3>Option 1</h3>
        <p>Details on what that gets the client</p>
        <div>
          <p>$$$$$$$$</p>
        </div>
      </article>
      <article>
        <h3>Option 1</h3>
        <p>Details on what that gets the client</p>
        <div>
          <p>$$$$$$$$</p>
        </div>
      </article>
    </section>
    <section id="contact">
      <h2>Get in touch - Contact Section</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
        impedit eveniet labore et iusto autem, dolorum in rerum pariatur
        consequuntur neque blanditiis porro quasi minus nihil a consequatur
        beatae. Veniam.
      </p>
      <%= render 'layouts/contact_form' %>
    </section>
    