<%= provide(:title, 'Home') %>

<%= render 'layouts/web_for_all' %>
    <section id="about">
      <h2>About Team 54</h2>
      <p>In which we sell our team vision?Philosophy?How we work Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam laborum, sapiente fugiat a unde ipsam quae odio, provident molestias atque ducimus! Debitis quis modi earum accusamus repellendus voluptas amet?</p>
      <article>
        <h3>We are in this many countries/continents</h3>
        <figure>
          <img src="" alt="World map">
          <figcaption>A world map with pins in each of our countries</figcaption>
        </figure> 
      </article>
      <article>
        <h3>Our Technologies</h3>
        <p>In which we talk about the frameworks and stuff we use</p>
        <div>
          <p>This Tech</p>
        </div>
        <div>
          <p>This Other one</p>
        </div>
        <div>
          <p>Last but not least</p>
        </div>
      </article>
    </section>
    <section id="services">
      <h2>Services we offer</h2>
      <article>
        <h3>Service 1</h3>
        <figure>
          <img src="" alt="service">
        </figure> 
        <p>About this service</p>
      </article>
      <article>
        <h3>Service 2</h3>
        <figure>
          <img src="" alt="service">
        </figure> 
        <p>About this service</p>
      </article>
      <article>
        <h3>Service 3</h3>
        <figure>
          <img src="" alt="service">
        </figure> 
        <p>About this service</p>
      </article>
    </section>
    <section id="pricing">
      <h2>Check out our Pricing</h2>
      <article>
        <h3>Option 1</h3>
        <p>Details on what that gets the client</p>
        <div>
          <p>$$$$$$$$</p>
        </div>
      </article>
      <article>
        <h3>Option 1</h3>
        <p>Details on what that gets the client</p>
        <div>
          <p>$$$$$$$$</p>
        </div>
      </article>
      <article>
        <h3>Option 1</h3>
        <p>Details on what that gets the client</p>
        <div>
          <p>$$$$$$$$</p>
        </div>
      </article>
    </section>
    <section id="contact">
      <h2>Get in touch - Contact Section</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
        impedit eveniet labore et iusto autem, dolorum in rerum pariatur
        consequuntur neque blanditiis porro quasi minus nihil a consequatur
        beatae. Veniam.
      </p>
      <%= render 'layouts/contact_form' %>
    </section>
    