<h1>Order#order_email</h1>

<p>
  <%= @greeting %>,
 <span style="color: blueviolet;  "> THE NEW CUSTOMER'S MESSAGE IS AS FOLLOWS : </span> <br>

<%= @body %> <br>

<span style="color: red;"> His phone number is as follows:</span>  <br>

<%= @number %>
</p>
