<div class="about-container">
    <section>
        <div class="writeup">
    
            <p>We are a distributed team of full stack web developers. If you are interested in building a web project, small or big, give us a ring. We are your best option. </p>
        </div>
        <div class="icon-container">
            <div class="icon-descriptions">
                <i class="fa fa-usd" style="font-size:60px;"></i>
                
                    <div>Affordable</div>
                    <div>Pricing</div>
                    
            </div>
            <div class="icon-descriptions">
                <i class="fa fa-user" style="font-size:60px"></i>
                <div>
                    Personal 
                </div>
                <div>Customer</div>
                <div>Support</div>
            </div>
            <div class="icon-descriptions">
                <i class="fa fa-car" style="font-size:60px;"></i>
                <div> We build </div>
                <div>based on </div>
                <div>your needs</div>
            </div>
            <div class="icon-descriptions responsive">
                <i class="fa fa-mobile" style="font-size:60px;color"></i>
                <div>Responsive </div>
                <div>design for  </div>
                <div>multiple devices</div>
            </div>
            
        </div>
       
    </div>
    </section>
</div>