<footer class="footer">
        <nav class="footer-nav">
          <ul>
            <li><a href="#header" class="footer-logo">Logo</a></li>
            <li>This is a short text describing what we do</li>
          </ul>
          <ul>
            <li>Navegation Links</li>
            <li><a href="/home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#pricing">Pricing</a></li>
          </ul>
          <ul>
            <li>Contact</li>
            <li><a href="#">our-email@mail.com</a></li>
            <li><a href="#">Whatsapp number</a></li>
            <li><a href="#">Social Media link?</a></li>
            <li><a href="#">Portifolio link?</a></li>
          </ul>
        </nav>
        <hr>
        <p>Team54, ©2019</p>
      </footer>