<footer class="footer">
        <nav class="footer-nav">
          <ul class="footer-logo-area">
            <li><a href="#"><%= render 'layouts/logo' %></a></li>
            <li class="text">Full-stack Web & Mobile applications development </li>
          </ul>
          <ul class="footer-nav-links">
            <li>Navegation Links</li>
            <li><a href="/home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#pricing">Stack</a></li>
            <li><a href="#pricing">Pricing</a></li>
          </ul>
          <ul class="international-contact">
            <li class="subtitle">Around the World</li>
            <li>
              <ul class="continent">
                <li>South America</li>
                <li>
                  <a href="#">chile@contact.com</a>
                </li>
                <li>
                  <a href="#">8748484777</a>
                </li>
                <li>
                  <a href="#">brasil@contact.com</a>
                </li>
                <li>
                  <a href="#">5174848477</a>
                </li>
              </ul>
            </li>
            <li>
            <ul class="continent">
                <li>North America</li>
                <li>
                  <a href="#">mexico@contact.com</a>
                </li>
                <li>
                  <a href="#">8748484777</a>
                </li>
              </ul>
            </li>
            <li>
            <ul class="continent">
                <li>Africa</li>
                <li>
                  <a href="#">nigeria@contact.com</a>
                </li>
                <li>
                  <a href="#">8748484777</a>
                </li>
              </ul>
            </li>
            <li>
            <ul class="continent">
                <li>Europe</li>
                <li>
                  <a href="#">italia@contact.com</a>
                </li>
                <li>
                  <a href="#">8748484777</a>
                </li>
              </ul>
            </li>
          </ul>
            <ul class="main-contact">
              <li>Main contact</li>
              <li><a href="#">ouremail@mail.com</a></li>
              <li><a href="#">Whatsapp number</a></li>
              <li><a href="#">Portifolio link?</a></li>
            </ul>
          <li class="date-brand">
            <hr>
            <p>Team54, ©2019</p>
          </li>
        </nav>
      </footer>