    <nav class="header-nav">
      <ul>
        <li><a href="#header" class="header-logo">Logo</a></li>
        <li><a href="/home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#pricing">Pricing</a></li>
      </ul>
    </nav>