    <nav id="navbar" class="header-nav">
      <ul>
        <li><a href="#header" class="header-logo">Logo</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="/contact" class="btn-contact">Contact us</a></li>
      </ul>
    </nav>