<header id="header">
      <h1>Main Head Line</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere
        molestias, perferendis dolore dicta consectetur fugit delectus
        praesentium possimus qui quae exercitationem inventore magnam voluptates
        unde tempora cumque eaque, consequatur optio?
      </p>
      <img src="" alt="Header image" />
    </header>
    <nav class="header-nav">
      <ul>
        <li><a href="#header" class="header-logo">Logo</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#pricing">Pricing</a></li>
      </ul>
    </nav>