    <nav id="navbar" class="header-nav">
      <ul class="nav-ul">
        <li><a href="#"><%= render 'layouts/logo' %></a></li>
        <li class="same-page about"><a class="about" href="">About</a></li>
        <li class="same-page services-link"><a class="services-link" href="">Services</a></li>
        <li class="same-page pricing"><a class="pricing" href="">Pricing</a></li>
        <li class="menu"><i id="nav-menu" class="fas fa-bars"></i></li>
        <li><a href="/contact" class="btn-contact">Contact us</a></li>
      </ul>
    </nav>
