<section class="team">
        <center class="main-title-meet-team">Meet The Team</center>
           <div class="container">
            <div class="class-thumb">
              <img src="https://avatars2.githubusercontent.com/u/51313750?s=460&amp;v=4" class="img-fluid" alt="Class" />
               <div class="class-info">
                <h4 class="position"></h4>
                <h3>Luis</h3>
                <p class="description">
                    VP of Growth / Marketing
                </p>
                <br>
              </div>
            </div>
            <div class="class-thumb">
                <img src="https://avatars1.githubusercontent.com/u/52589264?s=460&amp;u=fca5f3e1d736be054bbae0992d5b7a7b4426694b&amp;v=4" class="img-fluid" alt="Class" />
                 <div class="class-info">
                  <h4 class="position"></h4>
                  <h3>Abiodun</h3>
                  <p class="description">
                      Director of Engineering  
                  </p>
                  <br>
                </div>
              </div>
           <div class="class-thumb">
                <img class="third-img" src="https://ca.slack-edge.com/T47CT8XPG-UMQLST998-37a7c93b8167-512" class="img-fluid" alt="Class" />
                 <div class="class-info">
                  <h4 class="position"></h1>
                  <h3>Alex</h3>
                  <p class="description">
                      Director of Business Development
               </p>
                </div>
              </div>
            <div class="class-thumb">
              <img
                src="https://avatars1.githubusercontent.com/u/16193212?s=460&amp;u=fc029621d553eab174f2481de8a5987a116d1297&amp;v=4"
              />
              <div class="class-info">
                  <h4 class="position"></h4>
                  <h3>Sarah</h3>
                <p class="description">
                    VP of Operations
                </p>
                <br>
              </div>
            </div>
            <div class="class-thumb">
              <img
                src="https://avatars0.githubusercontent.com/u/45366757?s=460&amp;u=fea0a921f4778ce305434f0750d0311bfefbf4f9&amp;v=4"
                class=""/>
              <div class="class-info">
                  <h4 class="position"></h4>
                  <h3>Tommy </h3>
                <p class="description">
                    VP of Product
                </p>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> 