<section class="services-container">
    <div class="bktibx first"> 
         <img src="/assets/landing pages photo.jpg" alt="">
         <div class ='pad'>
             <p class = 'title'> Landing Page</p>
             <p class = 'expo'>We can build a robust website with sections where you will be able to showcase your products,
             services, portfolio or virtually anything you need your customers to learn about your business.</p>
                          
         </div>  

       </div>
            
             <div class="bktibx second"> 
               <img src="/assets/robust website photo.jpg" alt="">  
               <div class="pad">
                 <p class = 'title'> Full Website</p>
                 <p class = 'expo'>We can build a robust website with sections where you will be able to showcase your products,
                      services, portfolio or virtually anything you need your customers to learn about your business.</p>
                                    
                                 </div>
               </div>

             <div class="bktibx third"> 
                 <img src="/assets/open shopp photo.jpg" alt="">
                 <div class="pad">
                     <p class = 'title'> Online Store</p>
                     <p class = 'expo'> We can build a robust website with sections were you will be able to showcase your products,
                          services, portfolio or virtually anything you need your customers to learn about your business.</p>
                 </div>
                 
             </div>
 
     
 </section>  