<header class="header">
    <div class="header-container">
        <div class="div1">
            <p>WEB SERVICES FOR ALL</p>
        </div>
        <div class="div2">
            <p>
                We need to talk... it's 2020 and your
                 business needs to be online...
            </p>
        </div>
        
    <div class="div3">
       <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere
        molestias, perferendis dolore dicta consectetur fugit delectus
        praesentium possimus qui quae exercitationem inventore magnam
unde tempora cumque eaque, consequatur optio?
       </p>
        
            
            
    </div>
    </div>
    
    
    
</header>