<header class="header">
    <div class="header-container">
        <div class="div1">
            <p>WEB SERVICES FOR ALL</p>
        </div>
        <div class="div2">
            <p>
                We need to talk... it's 2020 and your
                <br> business needs to be online...
            </p>
        </div>
        
    <div class="div3">
        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere</span> <br>
        <span>molestias, perferendis dolore dicta consectetur fugit delectus</span><br>
        <span>praesentium possimus qui quae exercitationem inventore magnam</span><br>
<span>unde tempora cumque eaque, consequatur optio?</span>        <br>
            
            
    </div>
    </div>
    
    
    
</header>